.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.dark-blue{
    background-color: darkblue;
    width: 100%;
}
.light-blue{
    background-color: lightblue;
    width: 50%;
}
.green{
    background-color: green;
    width: 50%;
}
.red{
    background-color: red;
    width: 100%;
}
.orange{
    background-color: orange;
    width: 100%;
}
@media only screen and (min-width: 550px){
    .red{
        width: 33%;
    }
    .orange{
        width: 67%;
    }
}
@media only screen and (min-width: 800px){
    .container{
        max-width: 800px;
        margin: 0 auto;
    }
}